name: Deployment exercise 2
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            deps-node-modules-

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            deps-node-modules-

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: my-artifact
          path: src/assets

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4

      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            deps-node-modules-

      - name: Install dependencies
        run: npm ci

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: my-artifact

      - name: Output artifacts
        run: ls -lart

      - name: Deploying code!!!
        run: echo "Deployed Code !!!"